<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
  <style media="screen">
    body{background-color: #E3F2C1;}
    .button {
      display: inline-block;
      padding: 12px 24px;
      margin: 20px;
      background-color: #E5BEEC;
      color: #2A2F4F;
      text-decoration: none;
      font-size: 16px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    .button:hover {
      background-color: #3e8e41;
    }
  </style>
</head>
<body>
  <h1>Welcome <%= user.contactName %>!</h1>
  <p>Ward No: <%= user.wardNo %></p>
  <p>Street Name: <%= user.streetName %></p>
  <p>Door No: <%= user.doorNo %></p>
  <p>Contact No: <%= user.contactNo %></p>
  <p>Building Usage: <%= user.buildingUsage %></p>
  <p>EB Service No: <%= user.ebServiceNo %></p>
  <p>Ration Card No/GST No: <%= user.rationCardNo %></p>

  <button class="button" onclick="location.href='/grievances?wardNo=<%= user.wardNo %>'">Register Complaint</button>
</body>
</html>
